body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  margin: 0%;
  font-family: "Helvetica Neue", sans-serif;
}
a {
  color: black;
  text-decoration: none;
  margin-right: 20px;
}
.button {
  background-color: #5cb85f;
  color: white;
  margin: auto;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.header {
  background-color: #f1f3ff;
  padding: 1rem 5%;
  margin: 0;
}

/*mobile*/

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
